.grid {
  overflow-x: auto;
}

.grid__row {
  display: flex;
  padding-left: 1px;
}

.grid__cell {
  position: relative;
  padding: 3px;
  flex-shrink: 0;
  width: 51px;
  border: 1px solid gainsboro;
  margin-top: -1px;
  margin-left: -1px;
  text-align: center;
  outline: none;
  min-height: 18px;

  &:first-child {
    position: sticky;
    left: 0;
  }
}

.grid__cell_selected {
  outline: 2px solid lightseagreen;
  z-index: 2;
}

.grid__cell_type_heading {
  background-color: #f0f0f0;
  user-select: none;
}

.grid__cell-resizer {
  position: absolute;
  bottom: 0;
  opacity: 0;
  background-color: #1960ff;

  &:hover {
    opacity: 1;
  }
}

.grid__cell-resizer_col {
  top: 0;
  right: 0;
  width: 4px;
  cursor: col-resize;
}

.grid__cell-resizer_row {
  left: 0;
  right: 0;
  height: 4px;
  cursor: row-resize;
}

.grid__cell-resizer_active {
  opacity: 1;
  z-index: 100;
}
