.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page__header {
  background-color: white;
}

.page__body {
  flex-grow: 1;
  flex-shrink: 0;
  overflow-x: auto;
}

.page_type_excel {
  padding-top: 106px;

  .page__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}
